main{
    background-color: #FFFBFF;
}

header{
    background-color: #F1DABF;
}

#nav-secundario{
    background-color: antiquewhite;
}

#categorias{
    margin-bottom: 5%;
}


#footer-copyright{
    background-color: antiquewhite;
}
