@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@font-face {
    font-family: 'botonCompra';
    src: url('fonts/jmh_typewriter/JMH\ Typewriter.otf') format('truetype');
}


#boton-ofertas:hover {
    background-color: antiquewhite;
    transform: scale(110%);
}

main {
    background-color: #FFFBFF;
}

header {
    background-color: #F1DABF;
}

#nav-secundario {
    background-color: antiquewhite;
}

footer {
    background-color: #FFFBFF;
}


#footer-copyright {
    background-color: antiquewhite;
}

#ofertas {
    color: black;
    font-weight: bold;
}

#parrafo {
    color: black;
    font-weight: 900;
}

#h3 {
    color: black;
    font-weight: 600;
}


.parrafo-container {
    display: inline-block;
    /* Hace que el contenedor se ajuste al tamaño del contenido */
    background-color: antiquewhite;
    /* Color de fondo celeste claro */
    padding: 1px 5px;
    /* Ajusta el espacio alrededor del texto */
    border-radius: 10px;
    /* Borde redondeado */
}

#informacion-empresa {
    padding: 60px 0;
    font-family: "Lora", serif;
}

/* Estilos para el título principal */
#informacion-empresa h2 {
    font-size: 2.5rem;
    color: #333;
    /* Color del texto */
}

/* Estilos para el subtítulo */
#informacion-empresa h3 {
    font-size: 1.8rem;
    color: #555;
    /* Color del texto */
}

#fundadores {
    font-family: "Lora", serif;
}

/* Estilos para las tarjetas */
.card {
    border: none;
    /* Elimina el borde de las tarjetas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Agrega sombra */
    background-color: antiquewhite;
    /* Color de fondo de las tarjetas */
}

.card-title {
    font-size: 1.2rem;
}


/* Estilos para la lista de valores */
.card ul {
    font-size: 1.1rem;
    color: #555;
    /* Color del texto de la lista */
    margin-top: 20px;
    /* Espacio superior */
}

.card ul li {
    list-style: none;
    /* Elimina los puntos de la lista */
    padding-left: 20px;
    /* Espacio a la izquierda */
    position: relative;
}

.card ul li:before {
    /* Agrega un círculo como viñeta */
    position: absolute;
    left: 0;
}

.card:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño al pasar el cursor */
    transition: transform 0.3s ease;
    /* Transición suave */
    background-color: antiquewhite;
    /* Cambia el color de fondo al pasar el cursor */
}

#boton-busqueda:hover {
    background-color: antiquewhite;
}

.carousel-control-prev {
    color: black;
}

.carousel-control-prev:hover {
    color: black;
}

.carousel-control-next {
    color: black;
}

.carousel-control-next:hover {
    color: black;
}

#boton-producto {
    width: 15rem;
    height: 3rem;
    font-size: large;
}

#boton-producto:hover {
    color: #92817A;
    transform: scale(1.10);
}

.categorias {
    background-color: white;
    border-radius: 5%;
}

.botoncompra {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: medium;
}

.main-inicio-sesion {
    margin: 0;
    padding: 0;
    background-image: url("/images/imagen-fondo-inicio-sesion.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#form-inicio-sesion {
    background: rgba(255, 255, 255, 0.85);
    transform: none;
}

.boton-inicio-sesion {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #92817A;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50%;
    height: 30%;
}

.boton-inicio-sesion:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    transform: scale(110%);
    outline-offset: 15px;
}

#form-email {
    height: 3rem;
}

#form-contrasenia {
    height: 3rem;
}

.form-label {
    font-size: larger;
}

#titulo-iniciar-sesion {
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}